version: '3.9'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: backendsti
      POSTGRES_USER: backendsti
      POSTGRES_PASSWORD: backendsti
    volumes:
      - postgres_data_v2:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  
volumes:
  postgres_data_v2:
