version: '3.9'

services:
  # On garde le service web configuré au cas où, mais on ne le lancera pas
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    # --- AJOUT IMPORTANT ICI ---
    # Cela permet à ton 'python manage.py runserver' local de parler au Docker
    ports:
      - "5432:5432"  
    # ---------------------------
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    env_file:
      - .env

volumes:
  postgres_data: