version: '3.9'

services:
  web:
    build: .
    # Remplacer runserver par gunicorn
    command: sh -c "python wait_for_db.py && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./staticfiles:/app/staticfiles # Pour les fichiers statiques servis par Nginx
    ports:
      - "8000:8000"
    # Le service 'db' a disparu, donc on enlève depends_on
    env_file:
      - .env # Charger les variables d'environnement depuis le fichier .env

# Le volume pour postgres n'est plus nécessaire