version: '3.9'

services:
  web:
    build: .
    # La commande a été simplifiée, migrate sera fait manuellement après le lancement
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./staticfiles:/app/staticfiles
    expose:
      - 8000
    env_file:
      - .env

  nginx:
    image: nginx:1.21-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
    depends_on:
      - web

volumes:
  staticfiles: